<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>achievement-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item class="item-stats-content">
    <div class="stats-start-content">
      <ion-text >Gesamtnote aus <b>{{this.stats!.achievementCount}}</b> Leistungen:</ion-text>
      <br>
      <ion-button class="details-button" fill="clear" (click)="this.schowStats()">
        <ion-icon slot="start" name="analytics-outline"></ion-icon>
        Details
      </ion-button>
    </div>
    <div class="stats-end-content">
      <ion-text><b>{{this.stats!.averageGrade}}%</b></ion-text>
    </div>
  </ion-item>

  <ion-list>
    <ion-item-sliding *ngFor="let achievement of achievements; let i = index;">
      <ion-item class="item-content" button (click)="getAll()">
        <div class="start-content">
          <ion-text>{{achievement.moduleName}}</ion-text><br>
          <ion-text class="additional-info">{{achievement.moduleCode}} {{achievement.moduleCrp}}Crp</ion-text>
        </div>
        <div class="end-content">
          <ion-text>{{achievement.grade}}%</ion-text>
        </div>
      </ion-item>
      <ion-item-options>
        <ion-item-option></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button button (click)="navigateToCreateView()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
